<div class="banner">
<h1>TwitterBURST!</h1>
</div>


<div class="nav">
			<ul>
				<li class="user_leaderboard"><a href="/">User Leaderboard</a></li>
				<li class="hashtag_leaderboard"><a href="/">Hashtag Leaderboard</a></li>
				<li class="your_stats"><a href="/">Your Stats</a></li>
				<li class="user_nav">
					<% if current_user %>
						<%= link_to "Sign Out", signout_path %>
					<%else%>
						<%= link_to "Sign in With Twitter", "/auth/twitter" %>
					<% end %>
				</li>

			</ul>
		</div>


	<div class="circle-set">
		<div id="circle" name="user1"></div>
	
		<div id="circle" name="user2"></div>
	</div>


		
		<section class="buttons" id="start">
			<div class="buttons">
				<button class="ticker1"> <a href="#">Ticker 1</a></button>
				 <button id="start-button"><h2>Start!</h2></button>
 <!--  <div class="controls">

  </div> -->
				<button class="ticker2"> <a href="#">Ticker 2</a></button>
			</div>
		</section>




  
