<div class="banner">
<h1>TwitterBURST!</h1>
</div>
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat+Subrayada:700' rel='stylesheet' type='text/css'>

<div class="nav">
			<ul>
				<li class="user_leaderboard"><a href="/">User Leaderboard</a></li>
				<li class="hashtag_leaderboard"><a href="/">Hashtag Leaderboard</a></li>
				<li class="your_stats"><a href="/">Your Stats</a></li>
				<li class="logout"><a href=" /users/sign_out">Logout</a></li>
			</ul>
		</div>


	<div class="circle-set">
		<div id="circle" name="user1"></div>
	
		<div id="circle" name="user2"></div>
	</div>



		
		<section class="buttons" id="start">
			<div class="buttons">
				<button class="ticker1" name="ticker1"> <a href="   ">Ticker 1</a></button>
				<button class="startbutton" name="startbutton"> <a href="   ">Start!</a></button>
				<button class="ticker2" name="ticker2"> <a href="   ">Ticker 2</a></button>
			</div>
		</section>