/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*MAIN DIVS*/

body{
  margin: 0;
  padding: 0;
  background: #565051;
  min-width: 500px;
  color: black;
}

.left-container{
  float: left;
  width: 20%;
  min-width: 100px;
}

.right-container{
  float: left;
  width: 80%;
  min-width: 400px;
}

.footer{
  clear: both;
  width: 100%;
  background-color: #c0deed;
  height: 100px;
}

/*NAVIGATION*/

.nav{
  background-color: #565051;
  text-align: center;
  font-family: "Avenir";
  font-weight: 600;
  font-size: 18px;
  padding-top: 1.5em;
  padding-right: 20px;
  color: white;
}

.nav ul{
  list-style-type: none;
}

/*.nav li :hover{
  color: red;
}*/

.left-container img{
  height: 100px;
  width: auto;
}

#leaderboard {
  color: white;
  font-family: 'Avenir';
  font-size: 13pt;
  font-weight: bold;
}

#leaderboard li{
  list-style-type: none;
  font-family: 'Avenir';
  font-size: 12pt;
  font-weight: normal;
}

#stats {
  color: white;
  font-family: 'Avenir';
  font-size: 13pt;
  font-weight: bold;
}

#stats li{
  color: white;
  list-style-type: none;
  font-family: 'Avenir';
  font-size: 12pt;
  font-weight: normal;
}



/*HEADER*/

.banner{
  margin: 0;
  background-color: #565051;
}

.banner h1{
  margin: 0;
  margin-left: 70px;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 75px;
  color: #c0deed;
}

.notice-banner{
  text-align: center;
  margin-left: 70px;
  background-color: #c0deed;
  font-family: 'Avenir';
  font-weight: bold;
}

#profile-pic{
  border-radius: 3em;
  display: inline-block;
}

.welcome-bar{
  font-family: 'Avenir';
  background-color: #c0deed;
  display: inline-block;
  text-align: center;
}

/*HASHTAG DISPLAY*/

.hashtags{
  /*height: 100px;*/
  background-color: #c0deed;
  text-align: center;
}

.hashtags h3{
  display: inline-block;
  padding: 10px 70px 10px 70px;
  text-align: center;
  font-size: 35px;
}

/*.hashtags #first-hashtag {
  padding-left: 50px;
  padding-left: 150px;
}*/

#first-hashtag-input {
  height: 25px;
  width: 175px;
  border: solid black 5px;
}
/*CIRCLES*/

.circle-set{
  background-color: #c0deed;
  text-align: center;
  min-height: 200px;
}

.circle {
  background: #FFA017;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 20px 75px 20px 0px;
}

/*TWEETS*/

.tweet-bodies{
  background: #c0deed;
  height: 110px;
  text-align: center;
}

.tweet-one{
  background-color: #c0deed;
  height: 115px;
  width: 50%;
  float: left;
}

.tweet-two{
  background-color: #c0deed;
  height: 115px;
  width: 50%;
  float: left;
}

.tweet-bodies h3{
  padding: 0px 25px;
}


/*COUNTERS and BUTTONS*/

.button-set{
  background-color: #c0deed;
  text-align: center;
}


h3 {
 margin: 0;
 font-family: "Avenir";
}

button {
  text-transform: uppercase;
  width: 150px;
  height: 150px;
  background: #574F51;
  font-size: 30px;
  font-family: "Avenir";
  font-weight: bolder;
  margin: 0;
  color: white;
}

#ticker-one {
  background: #574F51;
  font-size: 30px;
}

#ticker-two {
  background: #574F51;
  font-size: 30px;
}

a {
  text-decoration: none;
}

/*

#leaderboard{
  position: absolute;
  top: 50%;
  left: 20%;
}

#stats{
  position: absolute;
  top: 50%;
  left: 75%;
}*/

