/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*MAIN DIVS*/

body{
  margin: 0;
  padding: 0;
  background: #565051;
  min-width: 500px
}

.left-container{
  float: left;
  width: 17%;
  min-width: 100px;
}

.right-container{
  float: left;
  width: 83%;
  min-width: 400px;
}

.footer{
  clear: both;
  width: 100%;
  background-color: #c0deed;
  height: 100px;
}

/*NAVIGATION*/

.nav{
  background-color: #565051;
  text-align: center;
  font-family: "Avenir";
  font-size: 18px;
  padding-top: 10em;
  padding-right: 20px;
}

.nav ul{
  list-style-type: none;
}

/*HEADER*/

.banner{
  margin: 0;
  background-color: #c0deed;
}

.banner h1{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 85px;
  color: white;
  padding-bottom: 20px;
}

.notice-banner{
  background-color: #c0deed;
  font-family: 'Avenir';
}

#profile-pic{
  border-radius: 3em;
  display: inline-block;
}

.welcome-bar{
  font-family: 'Avenir';
  background-color: #c0deed;
  display: inline-block;
  text-align: center;
}

/*HASHTAG DISPLAY*/

.hashtags{
  /*height: 100px;*/
  background-color: #c0deed;
  text-align: center;
}

.hashtags h3{
  display: inline-block;
  padding: 0px 70px;
  text-align: center;
  font-size: 35px;
}

/*.hashtags #first-hashtag {
  padding-left: 50px;
  padding-left: 150px;
}*/

#first-hashtag {
  height: 25px;
  width: 175px;
}
/*CIRCLES*/

.circle-set{
  background-color: #c0deed;
  text-align: center;
  min-height: 300px;
}

.circle {
  background: #f00;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 75px;
}

/*TWEETS*/

.tweet-bodies{
  background: #c0deed;
  height: 110px;
  text-align: center
}

.tweet-one{
  background-color: #c0deed;
  height: 115px;
  width: 50%;
  float: left;
}

.tweet-two{
  background-color: #c0deed;
  height: 115px;
  width: 50%;
  float: left;
}

.tweet-bodies h3{
  padding: 0px 25px;
}


/*COUNTERS and BUTTONS*/

.button-set{
  background-color: #c0deed;
  text-align: center;
  padding: 2em 0;
}


h3 {
 margin: 0;
 font-family: "Avenir";
}

button {
  text-transform: uppercase;
  width: 150px;
  height: 150px;
  background: #184E83;
  font-size: 30px;
  font-family: "Avenir";
  font-weight: bolder;
  margin: 0 1em;
}

#ticker-one {
  background: white;
  font-size: 50px;
}

#ticker-two {
  background: white;
  font-size: 50px;
}

a {
  text-decoration: none;
}

/*

#leaderboard{
  position: absolute;
  top: 50%;
  left: 20%;
}

#stats{
  position: absolute;
  top: 50%;
  left: 75%;
}*/

