/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
    width: 100%
    position: absolute;
}

 body {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #CCFFFF;
 }

 h1 {
  /*font-family: 'Bangers', cursive;*/
  font-family: 'Montserrat Subrayada', sans-serif;
  /*font-family: 'Russo One', sans-serif;
  /*font-family: 'Monoton', cursive;*/
  /*font-family: 'Archivo Black', sans-serif;*/
  font-size: 80px;
 }

 h2 {
  font-family: "Avenir";
 }

 .banner {
  background-color: yellow;
 }

.circle-set {
    margin: auto;
    height: 250px;
    display: block;
}
.circle {
    background: #f00;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
}

.clear {
    overflow: auto;
    clear: both;
}

 .nav {
  float: left;
  text-align: left;
  font-family: "Avenir";
 }


button {
    text-transform: uppercase;
    width: 150px;
    height: 150px;
    background: #00FF00;
    padding: 1em;
    font-size: 1.2em;
    font-family: "Avenir";
}


.ticker1 {
  background: #D1D0CE;
}

.ticker2 {
  background: #D1D0CE;
}

.startbutton {
  padding: 3em;
}

.hash-tag {
    padding-top: 4.5em;
}






/*@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);*/

/*.controls {
  margin: 50px;
  text-align: center;
}

h1 {
  font-size: 72px;
  text-align: center;
}

button {
  background: #4479BA;
  color: #FFF;
  font-family: Josefin Slab;
  font-size: 50px;
  text-align: center;
  border: 1px solid black;
  margin: 20px;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
}

button:hover{
    background: #356094;
}*/









